* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1.25rem;
    min-height: 100%;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    background-color: #191919 !important;
    background-size: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background: radial-gradient(circle, rgba(149, 166, 170, 1) 0%, rgba(132, 155, 196, 1) 15%, rgb(0, 0, 0) 75%);
    user-select: none;
}
.squad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    border-radius: 15px;
    background-color: rgba(50, 49, 49, 0.3);
    border: 2px solid rgb(43, 42, 42, 0.05);
}
.coin-counter-conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.75rem;
}
.rank-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.coin-container {
    position: relative;
    margin-top: 1.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.power-container{
    margin-top: 1.75rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.menu-container {
    margin-top: 1.75rem;
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 218, 218, 0.2);
    border: 2px solid rgba(218, 218, 218, 0.03);
    border-radius: 15px;
}
.avatar{
    height: 36px;
    width: 36px;
    border-radius: 9999px;
    user-select: none;
    margin-right: 0.5rem;
}
.nickname{
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.01em;
    color: #ffffff;
}
.coin-counter-conteiner img {
    margin-right: 1rem;
    width: 50px;
}
.coin-counter-conteiner h1 {
    color: #ffffff;
    font-size: 3.5rem;
}
.rank-items {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}
#coin{
    transition: .1s;
    transform-style: preserve-3d;
    user-select: none;
    width: 300px;
    height: 300px;
    background: url('../img/coin.png') no-repeat center center;
    background-size: contain;
}
.power {
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
    width: 33%;
}
.power-count {
    display: flex;
    flex-direction: column;
}
.power-count span {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}
.gray {
    color: #d7d7d798 !important;
    font-size: 0.75rem !important;
}
.progress-bar {
    display: flex;
    width: 67%;
    height: 1rem;
    border-radius: 30px;
    background-color: rgba(218, 218, 218, 0.5);
}
.progress {
    width: 100%;
    height: 100%;
    background: linear-gradient(278deg, rgba(253, 237, 201, 1) 2%, rgba(255, 224, 125, 1) 52%, rgba(255, 208, 100, 1) 88%);
    border-radius: 30px;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    width: 33.3333%;
}
.b-r {
    border-right: 2px solid rgba(218, 218, 218, 0.1);
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgba(218, 218, 218, 0.1);
}
.button img {
    margin-top: 0.5rem;
    user-select: none;
}
.button span {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ffffff;
    user-select: none;
}
a {
    text-decoration: none;
}
a:active {
    color: rgba(241,158,54,1);
}